<div class="widgets">

    <div class="row">
        <div class="col-md-12">

            <bs-card title="Tooltip" bsCardClass="with-scroll" >  
                <div class="tool-tip-wrapper">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-secondary"
                            tooltip="top"
                            placement="top">
                        Tooltip on top
                    </button>
                </div>
                <div class="col-md-12">
                    <button type="button" class=" btn btn-default btn-secondary"
                            tooltip="bottom"
                            placement="bottom">
                        Tooltip on bottom
                    </button>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-secondary"
                            tooltip="right"
                            placement="right">
                        Tooltip on right
                    </button>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-default btn-secondary"
                            tooltip="left"
                            placement="left">
                        Tooltip on left
                    </button>
                </div>
                </div>
            </bs-card>
        </div>
    </div>

</div>

