<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <bs-card title="Various Template Types Form" bsCardClass="with-scroll">
                <!-- AMHI sample Field sets structure -->
                <template-types></template-types>
            </bs-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <bs-card title="Input Validations" bsCardClass="with-scroll">
                <!-- AMHI sample Field sets validation -->
                <input-validate></input-validate>
            </bs-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <bs-card title="Various Input Types" bsCardClass="with-scroll">
                <!-- AMHI different types of Field sets required validation -->
                <input-types></input-types>
            </bs-card>
        </div>
    </div>
</div>