.bottom-margin{
    margin-bottom:20px;
}
.card{
   border:0; 
   text-align: left;
}
.card>.card-header{
    background: #999;
    border-bottom: 0;
    margin-bottom: 10px;    
}
.card>.card-header>a{
    color:#fff;
}

.card-header:first-child{
    border-radius:0;
}

