<div class="widgets">

    <div class="row">
        <div class="col-md-12">

            <bs-card title="Progress Bar" bsCardClass="with-scroll">
                <div class="col-sm-4">
                    <progressbar class="progress-striped" value="50" type="success">50%</progressbar>
                </div>
                <div class="col-sm-4">
                    <progressbar class="progress-striped" value="22" type="warning">22%</progressbar>
                </div>
                <div class="col-sm-4">
                    <progressbar class="progress-striped active" max="200" value="166" type="danger"><i>166 / 200</i></progressbar>
                </div>

            </bs-card>
        </div>
    </div>

</div>

