<custom-modal #modal1 [(notificationPurpose)]='notifyName' [(modalHeader)]='notifyHeader' [(modalBody)]='notifyBody' [(modalType)]='notifyType' [(buttonText1)]='notifyBtn1'>
</custom-modal>
{{assingAlertNotifyModal(modal1)}}
<div class="widgets homepage">
    <div class="create-btn" (click)='setStorage()' *ngIf="_privilege.getUserRole()!='Checker1'">
        <a href="#/amhi/provider/home/registration" class="btn btn-primary"><i class="fa fa-plus"></i>New Registration</a>
    </div>    
    <div class="row" *ngIf='!advSearchPanel'>
        <div class="col-md-12">
            <bs-card bsCardClass="with-scroll">
                <p class="table-heading">Search</p>
                <form class="row form-inline">
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control" [ngClass]="{'has-error': (!searchInput.value), 'has-success': (searchInput.value)}" id="exampleInputName2" placeholder="Search" name="search"  #searchInput [ngClass]="{'has-error':isData}">
                        <i class="fa fa-search form-control-feedback" aria-hidden="true"></i>
                    </div>                     
                    <div class="form-group">
                        <button type="button"  [disabled]="!searchInput.value"  (click)="getSearchResults(searchInput.value)" class="btn btn-primary">Search</button>
                    </div>

                    <div class="form-group advance-search">
                        <a (click)="advSearchPanel=true">Advanced Search</a>
                    </div>                    
                </form>
            </bs-card>
        </div>
    </div>
    <div class="row" *ngIf='advSearchPanel'>      
        <div class="col-md-12">
            <bs-card bsCardClass="with-scroll">
                <form #signupForm="ngForm">
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">Provider Name</label>
                            <input type="text" class="form-control" name="name"  placeholder="Enter Here" [(ngModel)]='name'>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="form-control-label" >Also Known as</label>
                            <input type="text" class="form-control"  name="aka" placeholder="Enter Here" [(ngModel)]='aka'>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="form-control-label" >Provider Code</label>
                            <input type="text" name="providercode" class="form-control" name="code" placeholder="Enter Here" [(ngModel)]='code'>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">State</label>
                            <select class="form-control" name="state" [(ngModel)]='selectedState' (ngModelChange)='stateChanged(selectedState)'>
                                <option [ngValue]='emptyString' selected>Select Here</option>
                                <option *ngFor=' let stateObj of stateList'  [ngValue]='stateObj.stateId'>{{stateObj.stateName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">City</label>
                            <select ctype-8 class="form-control" name="city" [(ngModel)]='selectedCity'>
                                <option [ngValue]='emptyString' selected>Select Here</option>
                                <option *ngFor=' let cityObj of cityList' [ngValue]='cityObj.cityId'>{{cityObj.cityName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">Pin Code</label>
                            <input type="text" class="form-control" name="pincode" placeholder="Enter Here" [(ngModel)]='pincode'>
                        </div>                                             
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">IRDA Code</label>
                            <input type="text" class="form-control" name="irdacode"  placeholder="Enter Here" [(ngModel)]='irdacode'>
                        </div>       
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">PAN Number</label>
                            <input type="text" class="form-control" name="pannumber"  placeholder="Enter Here" [(ngModel)]='pannumber'>
                        </div>  
                    </div>
                    <div class="row">   
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">Entity Type</label>
                            <select class="form-control" name="entitytype" [(ngModel)]='selectedEntity'>
                                <option [ngValue]='emptyString' selected>Select Here</option>
                                <option *ngFor=' let entityTypeObj of entityTypeList' [ngValue]='entityTypeObj.entityTypeId'>{{entityTypeObj.entityTypeName}}</option>
                            </select>  
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">Provider Category</label>
                            <select class="form-control" name="category" [(ngModel)]='selectedCategory'> 
                                <option [ngValue]='emptyString' selected>Select Here</option>
                                <option *ngFor=' let providerCategory of providerCategoryList' [ngValue]='providerCategory.providerCategoryTypeId'>{{providerCategory.providerCategoryTypeName}}</option>
                            </select>  
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="form-control-label">Status</label>
                            <select class="form-control" name="status" [(ngModel)]='selectedStatus'>
                                <option [ngValue]='emptyString' selected>Select Here</option>
                                <option *ngFor=' let status of statusList' [ngValue]='status.statusTypeId'>{{status.statusTypeName}}</option>
                            </select>  
                        </div>
                        <div class="row pull-right search-btn-holder">  
                            <div class="form-group col-xs-4">
                                <button type="button" class="btn btn-primary" (click)="getAdvancedSearchResults(signupForm)">Search</button>
                            </div>
                            <div class="col-xs-7 form-group advance-search">
                                <a (click)="!advSearchPanel=false">Simple Search</a>
                            </div>
                        </div>
                    </div>

                </form>
            </bs-card>
        </div>
    </div>

    <custom-modal #modal [modalHeader]='"Rejection Reason"'>
        <ul class="modal-list" *ngIf='reasonList!=[]'>                            
            <li *ngFor='let reasonObj of reasonList' >
                <div class="text-block text-message">
                    <div class="message-header">
                        <span class="author">Rejected By:{{reasonObj.rejectedBy}}</span>
                    </div>
                    <div class="message-time">
                        Created on: {{reasonObj.createdOn}}
                    </div>
                    <div class="message-content">
                        {{reasonObj.reason}}
                    </div>      
                </div>
            </li>
        </ul>
        <p  *ngIf='reasonList==[]' >No Records Found..</p>
    </custom-modal>
    {{assingNotifyModal(modal)}}

    <bs-card bsCardClass="with-scroll">
        <div class='row'>
            <div class="col-md-6">
                <p class="table-heading">Summary</p>
            </div>
            <div class="col-md-6 icons-right">
                <div class="export-icon" (click)='exportData()'  tooltip="Export"  placement="bottom"><i class="fa fa-file-excel-o"></i></div>

                <div class="dropdown settings-icon">
                    <a href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-cog"  tooltip="Settings"  placement="bottom"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-item form-check" *ngFor="let column of configObject.settings">
                             <label class="form-check-inline">
                                <input type="checkbox" name="{{column.objectKey}}" class="form-check-input" [(ngModel)]="column.visible" (change)="myTable.redraw()">
                                {{configObject.fields| gtProperty:column.objectKey:'name'}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <ul class="scroll-list">
                <li [class.active]='All'><a (click)="filter(myTable, 'providerCategory', 'All')">All</a></li>
                <li [class.active]='Registered'><a (click)="filter(myTable, 'providerCategory', 'Registered')">Registered</a></li>
                <li [class.active]='Empaneled'><a (click)="filter(myTable, 'providerCategory', 'Empaneled')">Empaneled</a></li>
            </ul>
        </div>
        <div class='row count-wrapper'>
            <div class="col-md-6">
                <label>Records per page</label>
                <form class="form-group generic-row-count">
                    <select class="form-control form-control-sm" #rowLength (change)="myTable.changeRowLength(rowLength.value)">
                        <option value=10>10</option>
                        <option value=20>20</option>
                        <option value=30>30</option>
                        <option value=40>40</option>
                        <option value=50>50</option>
                    </select>                    
                </form>
            </div>
            <div class="form-group col-md-6">
                <input type="text" #search (keyup)="applySearch(search.value)" class="form-control generic-search" placeholder="Search">
            </div>
        </div>
        <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtTexts]="gttext"  [gtInfo]="configObject.info" (gtEvent)="trigger($event)"  [gtOptions]="{csvDelimiter:',', highlightSearch:true,lazyLoad:true}"></generic-table>
        <div class="text-xs-center">
            <gt-pagination [genericTable]="myTable"></gt-pagination>
        </div>
    </bs-card>
</div>