<ul [ngClass]="{'custom-toggle-switch': true, 'btn-list':true,'clearfix':true,'btn-disabled':toggleDisabled}" style="margin-bottom: 0px;">
    <li *ngFor='let option of toggleoptions; let first=first; let i=index;' (click)="setToggle(option)" tabindex="0">
        <input autocomplete="off" [(ngModel)]="toggle" [name]="toggleName" type="radio" [value]="option.id" #toggleInput='ngModel'>
        <!--<span *ngIf="first && blacklistFlag">{{setToggleModel(toggleInput)}}</span>-->
        <label class="btn btn-default btn-icon" (click)="setToggle(option)"> 
            {{option.name}}
        </label>
    </li>
</ul>
<style>
    .btn-disabled{
        cursor: not-allowed;
        opacity: .65;
    }
    .btn-disabled>li{
        cursor: not-allowed;
    }
    .btn-disabled>li>input{
        cursor: not-allowed;
    }
    .btn-disabled>li>label{
        cursor: not-allowed;
    }
</style>
