button > i.fa-calendar{
    width: 1.2rem;
    height: 1rem;
    cursor: pointer;
}

.ng2-tag-input.default{
    border-bottom: none !important;
}

.ng2-tag{
    border-radius: 0 !important;
}

.button-right{
    float: right;
    display: block;
}