@import '../../theme/sass/auth';

a.demolink{
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    text-align: right;
    margin-bottom: -20px;
    float: right;
    z-index: 2;
    position: relative;
    font-weight: bold;
}
