/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2017, 4:03:39 PM
    Author     : 564812
*/

.modal-header{
    background-color: $primary2;
    color:$label-text;
}

.modal-content{
    border-radius: 0px;
}

.modal-body{
    min-height: 80px;
}