/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2017, 3:33:56 PM
    Author     : 564812
*/

.progress>.progress-bar{
   width: 40%;
    line-height: 16px;
    font-size: 13px;
}

.progress{
    margin-top:10px;
    margin-bottom:0;
}