/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2017, 2:20:43 PM
    Author     : 564812
*/

tag-input tag{
    border-radius:0 !important;
    font-family: $font-family !important;    
    color: $default-text !important;
    border: 1px solid $input-border;
}

tag-input tag path{
    fill:$default-text !important;
}

tag-input tag:not(.readonly):not(.tag--editing):active{
    background:#efefef !important;
}

tag-input-form{
    display:none;
}

tag-input>div{
    border-bottom:0 !important;
}