<h1>Mega Menu</h1>

<div class="custom-mega-menu navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown menu-large" (click)="selectTab($event,'summary')" [ngClass]="{'highlight': summary}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-clock-o"></i> </a>
                    <div class="dropdown-menu megamenu row" (click)="onMenuClick($event)"  (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
                            <div class="col-lg-3 first-tab">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/150x120" />
                                </a>
                            </div>
                            <div class=" col-lg-3 first-tab">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/150x120" />
                                </a>
                            </div>
                            <div class="col-lg-3 first-tab">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/150x120" />
                                </a>
                            </div>
                            <div class="col-lg-3 first-tab">
                                <a href="#" class="thumbnail">
                                    <img src="http://placehold.it/150x120" />
                                </a>
                            </div>
                    </div>
                </li>                
                <li (click)="selectTab($event,'contact')" [ngClass]="{'highlight': contact,'menu-large':true,'dropdown':true}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i></a>				
                    <ul class="dropdown-menu megamenu row" (click)="onMenuClick($event)">
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">Glyphicons</li>
                                <li><a href="#">Available glyphs</a></li>
                                <li class="disabled"><a href="#">How to use</a></li>
                                <li><a href="#">Examples</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Dropdowns</li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Aligninment options</a></li>
                                <li><a href="#">Headers</a></li>
                                <li><a href="#">Disabled menu items</a></li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">Button groups</li>
                                <li><a href="#">Basic example</a></li>
                                <li><a href="#">Button toolbar</a></li>
                                <li><a href="#">Sizing</a></li>
                                <li><a href="#">Nesting</a></li>
                                <li><a href="#">Vertical variation</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Button dropdowns</li>
                                <li><a href="#">Single button dropdowns</a></li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">Input groups</li>
                                <li><a href="#">Basic example</a></li>
                                <li><a href="#">Sizing</a></li>
                                <li><a href="#">Checkboxes and radio addons</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Navs</li>
                                <li><a href="#">Tabs</a></li>
                                <li><a href="#">Pills</a></li>
                                <li><a href="#">Justified</a></li>
                            </ul>
                        </li>
                        <li class="col-lg-3">
                            <ul>
                                <li class="dropdown-header">Navbar</li>
                                <li><a href="#">Default navbar</a></li>
                                <li><a href="#">Buttons</a></li>
                                <li><a href="#">Text</a></li>
                                <li><a href="#">Non-nav links</a></li>
                                <li><a href="#">Component alignment</a></li>
                                <li><a href="#">Fixed to top</a></li>
                                <li><a href="#">Fixed to bottom</a></li>
                                <li><a href="#">Static top</a></li>
                                <li><a href="#">Inverted navbar</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li class="dropdown menu-large" (click)="selectTab($event,'documents')" [ngClass]="{'highlight': documents}" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file"></i> </a>
                    <ul class="dropdown-menu megamenu row" (click)="onMenuClick($event)">
                        <div class='history-title'>
                            <h2>Documents</h2>
                        </div>                       
                        <li>
                            <div class="text-block text-message">
                                <div class="message-header">
                                    <span class="author">Rejected By:123345</span>
                                </div>
                                <div class="message-time">
                                    Created on: 01/10/2017 11:55 pm
                                </div>
                                <div class="message-content">
                                    Comments here...
                                </div>      
                            </div>
                        </li>
                        <li>
                            <div class="text-block text-message">
                                <div class="message-header">
                                    <span class="author">Rejected By:123345</span>
                                </div>
                                <div class="message-time">
                                    Created on: 01/10/2017 11:55 pm
                                </div>
                                <div class="message-content">
                                    Comments here...
                                </div>      
                            </div>
                        </li>
                        <li>                           
                            <div class="text-block text-message">
                                <div class="message-header">
                                    <span class="author">Rejected By:123345</span>
                                </div>
                                <div class="message-time">
                                    Created on: 01/10/2017 11:55 pm
                                </div>
                                <div class="message-content">
                                    Comments here...
                                </div>      
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>