<div class="widgets">
    <div class="row">
        <div class="col-md-3">
            <bs-card title="Flat Buttons" bsCardClass="with-scroll button-panel">
                <flat-buttons></flat-buttons>
            </bs-card>
        </div>
        <div class="col-md-3">
            <bs-card title="Raised Buttons" bsCardClass="with-scroll button-panel">
                <raised-buttons></raised-buttons>
            </bs-card>
        </div>
        <div class="col-md-3">
            <bs-card title="Different Sizes" bsCardClass="with-scroll button-panel df-size-button-panel">
                <sized-buttons></sized-buttons>
            </bs-card>
        </div>
        <div class="col-md-3">
            <bs-card title="Disabled" bsCardClass="with-scroll button-panel">
                <disabled-buttons></disabled-buttons>
            </bs-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">

            <bs-card title="Icon Buttons" bsCardClass="with-scroll">
                <icon-buttons></icon-buttons>
            </bs-card>

            <bs-card title="Large Buttons" bsCardClass="with-scroll large-buttons-panel">
                <large-buttons></large-buttons>
            </bs-card>

        </div>
        <div class="col-md-6">

            <bs-card title="Button Groups" bsCardClass="with-scroll">
                <group-buttons></group-buttons>
            </bs-card>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12"
             bs-panel
             bs-panel-title="Progress Buttons"
             bs-panel-class="with-scroll">
            <div ng-include="'app/pages/ui/buttons/widgets/progressButtons.html'"></div>
        </div>
    </div>

</div>
