<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.description %>">
        <% if (webpackConfig.htmlElements.headTags) { %>
        <!-- Configured Head Tags  -->
        <%= webpackConfig.htmlElements.headTags %>
        <% } %>
        <!-- base url -->
        <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
    </head>
    <body>
    <app>
    </app>
    <div class="sk-wandering-cubes"  id="preloader">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
    </div>
    
    <script src="http://cdn.ckeditor.com/4.5.8/full/ckeditor.js"></script>
    <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
   
 </body>
</html>
