<accordion [closeOthers]="oneAtATime">
    <accordion-group #group1 [isOpen]="true">
        <div accordion-heading>             
            <i class="fa" [ngClass]="{'fa-minus-circle': group1?.isOpen, 'fa-plus-circle': !group1?.isOpen}"> </i>
            <span>General Information</span>
        </div>
        <general-information></general-information>
    </accordion-group>
    <accordion-group #group2>
        <div accordion-heading>           
            <i class="fa" [ngClass]="{'fa-minus-circle': group2?.isOpen, 'fa-plus-circle': !group2?.isOpen}"> </i>
            <span> Services and Clinical Specialty</span>  
        </div>  
        <services-and-clinical-speciality></services-and-clinical-speciality>
    </accordion-group>
    <accordion-group #group3>
        <div accordion-heading>           
            <i class="fa" [ngClass]="{'fa-minus-circle': group3?.isOpen, 'fa-plus-circle': !group3?.isOpen}"> </i>
            <span> Manpower/Staffing</span>  
        </div>  
        <manpower></manpower>
    </accordion-group>
    <accordion-group #group4>
        <div accordion-heading>           
            <i class="fa" [ngClass]="{'fa-minus-circle': group4?.isOpen, 'fa-plus-circle': !group4?.isOpen}"> </i>
            <span>Patient Safety Measure</span>  
        </div>  
        <safetymeasure></safetymeasure>
    </accordion-group>
    <accordion-group #group5>
        <div accordion-heading>           
            <i class="fa" [ngClass]="{'fa-minus-circle': group5?.isOpen, 'fa-plus-circle': !group5?.isOpen}"> </i>
            <span>Infrastructure</span>  
        </div>  
        <!--<infrastructure></infrastructure>-->
        <infra-pis-hospital></infra-pis-hospital>
        <infra-pis-ambulance></infra-pis-ambulance>
        <infra-pis-doctor></infra-pis-doctor>
        <infra-pis-diagnostic></infra-pis-diagnostic>
    </accordion-group>
    <accordion-group #group6>
        <div accordion-heading>           
            <i class="fa" [ngClass]="{'fa-minus-circle': group6?.isOpen, 'fa-plus-circle': !group6?.isOpen}"> </i>
            <span>Provider ID</span>  
        </div>  
         <provider-id></provider-id>
    </accordion-group>
    <accordion-group #group7>
        <div accordion-heading>           
            <i class="fa" [ngClass]="{'fa-minus-circle': group7?.isOpen, 'fa-plus-circle': !group7?.isOpen}"> </i>
            <span>Financial</span>  
        </div>  
          <financial></financial>
    </accordion-group>
</accordion>
<form #f="ngForm" class="form-horizontal checkerForm">
    <!--<div class="row">                    
        <div class="col-sm-8">
            <div class="form-group row">
                <div class="input-group col-sm-10">
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary">Browse</button>
                    </span>
                </div>

            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group row">
                <button type="button" class="btn btn-secondary"><i class="fa fa-upload"></i> Upload</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                <label for="remark" class="col-sm-3 form-control-label">Remarks</label>
                <div class="col-sm-9">
                    <input type="text" id="remark" name="remark" placeholder="Enter Here" class="form-control">
                </div>
            </div>
        </div>
    </div>-->
    <uploader [(savedFile)]='pisObj.documents' [providerCode]='""'></uploader>
    <!--<div class="row">
        <div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-2 form-control-label"></label>
                <div class="col-sm-8 browse-wrapper">
                    <span class="btn btn-success btn-file browse-btn">
                        Browse <input type="file">
                    </span>
                </div>
                <div class="col-sm-2 upload-btn">
                    <input class="btn btn-warning" type="button" value="Upload">
                </div>
            </div>
        </div>
    </div>
    <div class="row"> <p class="mini col-sm-12">File type doc, pdf, xls, jpeg, png, jpg, gif is accepted with the max of 5 documents with the size of each document restricted to 10MB</p></div>-->
    <div class="row">
        <input-wrapper class='col-md-6' [inputLabel]="'Action Taken*'" [formErrors]="''" [inputErrors]="''" [templateType]="'grid-4-8'">
            <select ctype-8 class="form-control" [(ngModel)]='chkPisAction' name="chkPisActionName" #chkPisActionModel='ngModel' required>
                <option [ngValue]='defaultSelect' disabled selected>Select Here</option>
                <option *ngFor=' let acTypeObj of chkPisActionList' [ngValue]='acTypeObj.value'>{{acTypeObj.display}}</option>
            </select>
        </input-wrapper>
        <!--<div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-4 form-control-label">Action Taken*</label>
                <div class="col-sm-8">
                    <select class="form-control" name="city">
                        <option>Approved</option>
                        <option>Sent Back</option>
                        <option>Send for Exception Approval</option>
                    </select>
                </div>
            </div>
        </div>-->
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-default" (click)="this.remark=true" *ngIf='!remark'>Show Remarks</button>
        <button type="submit" class="btn btn-default" (click)="this.remark=false" *ngIf='remark'>Hide Remarks</button>
    </div>
    <div class="row">
        <input-wrapper class='col-md-12' [inputLabel]="'Remarks'" [formErrors]="''" [inputErrors]="''" [templateType]="'grid-2-10'">
            <input ctype-10 placeholder="Enter Here" class="form-control" [(ngModel)]='chkPisRemark' name="chkPisRemarkName" #chkPisRemarkModel='ngModel' type="text" maxlength="80" required>
        </input-wrapper>
        <!--<div class="col-sm-12">
            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Remarks</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="remarks"></textarea>
                </div>
            </div>
        </div>-->
    </div>
    <div class="row" *ngIf='remark'>
        <label class="form-control-lable col-sm-2">
        </label>
        <div class="col-sm-8 remarksBox">
            <div class="row">
                <div class="col-sm-7">
                    Created By : Maker 1 [123456]
                </div>
                <div class="col-sm-4 col-sm-5">
                    Created On : MM/DD/YY TT:MM AM/PM
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    Product enplanement requested
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="pull-right" >
        <button class="btn btn-default" type="button">Cancel</button>
        <button class="btn btn-default" type="button">Save</button>
        <button class="btn btn-primary" type="button">Submit</button>
    </div>
</form>

